<h3 align="center" style="color:blue">Codebasics Python Course: Numpy Exercise</h3>

Below two numpy arrays are given with following columns. 

* Employee Details (1) Employee ID (2) Department (3) Salary
* Performance Metrics (1) Employee ID (2) Performance Score (out of 100) (3) Number of Projects Completed

Using these two arrays you need to complete set of tasks which are given in the notebook cells (along with hints)

In [1]:
import numpy as np

# Employee Details (1) Employee ID (2) Department (3) Salary
employee_details = np.array([
    [101, 'Sales', 55000, 'Satya Nadella'],  
    [102, 'HR', 52000, 'Emily Johnson'],    
    [103, 'IT', 72000, 'Fatima Razaak'],        
    [104, 'Sales', 60000, 'John Smith'],    
    [105, 'IT', 68000, 'Priya Singh'],      
    [106, 'HR', 54000, 'Li Wei'],           
    [107, 'IT', 71000, 'Michael Brown'],    
    [108, 'Sales', 59000, 'Sunita Sharma'], 
    [109, 'HR', 53000, 'Chen Wei']          
])
# Performance Metrics (1) Employee ID (2) Performance Score (out of 100) (3) Number of Projects Completed
performance_metrics = np.array([
    [101, 85, 5],
    [102, 78, 3],
    [103, 92, 7],
    [104, 88, 6],
    [105, 79, 4],
    [106, 81, 5],
    [107, 91, 8],
    [108, 77, 4],
    [109, 83, 4]
])

### Task 1: Merge above two numpy arrays using np.hstack

In [2]:
merged_record=np.hstack((employee_details,performance_metrics))
print(merged_record)

[['101' 'Sales' '55000' 'Satya Nadella' '101' '85' '5']
 ['102' 'HR' '52000' 'Emily Johnson' '102' '78' '3']
 ['103' 'IT' '72000' 'Fatima Razaak' '103' '92' '7']
 ['104' 'Sales' '60000' 'John Smith' '104' '88' '6']
 ['105' 'IT' '68000' 'Priya Singh' '105' '79' '4']
 ['106' 'HR' '54000' 'Li Wei' '106' '81' '5']
 ['107' 'IT' '71000' 'Michael Brown' '107' '91' '8']
 ['108' 'Sales' '59000' 'Sunita Sharma' '108' '77' '4']
 ['109' 'HR' '53000' 'Chen Wei' '109' '83' '4']]

### Task 2: Print All the Salaries

In [3]:
emp_salaries=employee_details[:,2]
print(emp_salaries)

['55000' '52000' '72000' '60000' '68000' '54000' '71000' '59000' '53000']

### Task 3:  Print All the Salaries in Ascending Order

In [4]:
print(np.sort(emp_salaries))

['52000' '53000' '54000' '55000' '59000' '60000' '68000' '71000' '72000']

### Task 4:  Iterate through entire array and print only employee id and name

In [5]:
# employee_id_name=employee_details[:,[0,3]]
# print(employee_id_name)
for employee in employee_details:
    print("Employee ID:", employee[0], ", Name:", employee[3])

Employee ID: 101 , Name: Satya Nadella
Employee ID: 102 , Name: Emily Johnson
Employee ID: 103 , Name: Fatima Razaak
Employee ID: 104 , Name: John Smith
Employee ID: 105 , Name: Priya Singh
Employee ID: 106 , Name: Li Wei
Employee ID: 107 , Name: Michael Brown
Employee ID: 108 , Name: Sunita Sharma
Employee ID: 109 , Name: Chen Wei

### Task 5: Print performance score of all the employees

In [147]:
scores=performance_metrics[:,1]
print(scores)

[85 78 92 88 79 81 91 77 83]

### Task 6: Convert these scores to float type by using astype(float) function

In [148]:
scores=scores.astype(float)

### Task 7:  Now print the average performance score of all the employees

In [149]:
print(f"Average performance score of all employees: {np.mean(scores)}")

Average performance score of all employees: 83.77777777777777

### Task 8:  Print all the unique departments. You can use np.unique function for this

In [150]:
# first print departments from all the record
all_deptartments=employee_details[:,1]
print(all_deptartments)

['Sales' 'HR' 'IT' 'Sales' 'IT' 'HR' 'IT' 'Sales' 'HR']

In [151]:
# now print unique departments
unique_departments=np.unique(all_deptartments)
print(unique_departments)

['HR' 'IT' 'Sales']

### Task 9: Print average salary in HR department

In [152]:
# First print all the records in HR department
hr_records=employee_details[employee_details[:,1]=="HR",:]
print(hr_records)

[['102' 'HR' '52000' 'Emily Johnson']
 ['106' 'HR' '54000' 'Li Wei']
 ['109' 'HR' '53000' 'Chen Wei']]

In [153]:
# Now from these records only print  the salary column. Convert that to float using astype(float) function
hr_salaries=hr_records[:,2:3].astype(float)
print(hr_salaries)

[[52000.]
 [54000.]
 [53000.]]

In [154]:
# Take an average of this column using np.mean() function
avg_hr_salaries=np.mean(hr_salaries)
print(f"Average salary of HR department: {avg_hr_salaries}")

Average salary of HR department: 53000.0